@model MovieAngularJSApp.Models.LoginViewModel

<!DOCTYPE html>
<html ng-app="moviesApp">
<head>
	<base href="/">
	<meta charset="utf-8" />
	<title>Movies - Login</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- App -->
	<link rel="stylesheet" href="/styles.css" />
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<fieldset>
					<legend>Login</legend>
						@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
								<div class="col-md-10">
									@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
								<div class="col-md-10">
									@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" value="Log in" class="btn btn-default" />
								</div>
							</div>
			}
				</fieldset>
			</div>
		</div>

	</div>
</body>
</html>